{% extends 'appweb/padre.html' %}

{% block titulo %}
Bienvenido a Productos
<br>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'registroProducto' %}">Crear Producto</a>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'buscarProducto' %}">buscar Producto</a>
{% endblock %}

{% block contenido %}

{% for Producto in producto %}

        <p>Nombre del Producto: {{Producto.nombre}} </p>
        <p>Descripcion del Jabon: {{Producto.descripcion}} </p>
        <p>Precio del jabon: {{Producto.precio}} </p>
        <p>Cantida disponible: {{Producto.stock}} </p>

        
        
{% endfor %}



{% endblock %}