{% extends 'appweb/padre.html' %}

{% block titulo %}
Bienvenido Cliente
<br>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'registroCliente' %}">Crear Cliente</a>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'buscarCliente' %}">buscar Cliente</a>
{% endblock %}

{% block contenido %}


{% for Cliente in cliente %}
    <li style="list-style: none;">
        nombre: {{Cliente.nombre}} <br> apellido: {{Cliente.apellido}} <br> rut: {{Cliente.rut}} <br> direccion: {{Cliente.direccion}} <br> email: {{Cliente.email}} <br>
        <a class="btn btn-primary text-uppercase ms-2" href="{% url 'borrarCliente' Cliente.id %}"> Eliminar </a>
        <a class="btn btn-primary text-uppercase ms-2" href="{% url 'editarCliente' Cliente.nombre %}">Modificar</a>
    </li>
    <br>
{% endfor %}




{% endblock %}