{% extends 'appweb/padre.html' %}


{% block titulo %}
<h1>Blog de Jabones</h1>
<h3>Te presentamos el sitioWeb ideal para saber mas sobre el mundo de los Jabones</h3>
{% endblock%}

{% block contenido %}

{% if user %}

<h1>Hola {{user.username}}!!!</h1>
<div class="col-lg-4">
    <!-- Search widget-->
    <div class="card mb-4">
        <form action="/appweb/buscar" method="GET">
            <div class="card-header">Buscar Reseñas</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Ingresa el nombre..." name="producto" id="producto" />
                    <input type="submit" value="Buscar">
                </div>
            </div>
        </form>
        
    </div>
</div>


{% else %}

{{mensaje}}

{% endif %}

{% endblock %}