{% extends "appweb/padre.html" %}

{% block titulo %}
Acá veremos los estudiantes.
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'Crear Cliente' %}">Crear</a>

{% endblock %}

{% block formulario %}

<ol>
    {% for e in object_list %}

        <li>
            Nombre: {{e.nombre}}
        </li>
        <a class="btn btn-primary text-uppercase ms-2" href="{% url 'Detalle Cliente' %}">ver detalle</a>
        <a class="btn btn-primary text-uppercase ms-2" href="{% url 'Actualizar Cliente' %}">Editar</a>
        <a class="btn btn-primary text-uppercase ms-2" href="{% url 'Borrar Cliente' %}">Eliminar</a>

    {% endfor %}
</ol>


{% endblock  %}