{% extends 'appweb/padre.html' %}

{% block titulo %}
Resultado de la busqueda
{% endblock %}




{% block contenido %}

{% if res %}

<h1>Los resultado son:</h1>

{% for Cliente in res %}
<ul>
    <li>
        nombre:{{Cliente.nombre}} <br>
        apellido:{{Cliente.apellido}} <br> 
        rut:{{Cliente.rut}} <br>
        direccion:{{Cliente.direccion}} <br>
        email:{{Cliente.email}}
    </li>
    <a class="btn btn-primary text-uppercase ms-2" href="{% url 'borrarCliente' Cliente.id %}"> Eliminar </a>
    <a class="btn btn-primary text-uppercase ms-2" href="{% url 'editarCliente' Cliente.nombre %}">Modificar</a>
</ul>
{% endfor %}

{% else %}

<h1>no hay Resultado que coicidan con la busqueda</h1>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'Cliente' %}">Regresar a Cliente</a>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'Inicio' %}">Volver a Inicio</a>

{% endif %}

{% endblock %}