{% extends 'appweb/padre.html' %}

{% block titulo %}
Resultado de la busqueda
{% endblock %}




{% block contenido %}

{% if res %}

<h1>Los resultado son:</h1>

{% for Producto in res %}
<ul>
    <li>
        nombre: {{Producto.nombre}} <br>
    </li>
    <a class="btn btn-primary text-uppercase ms-2" href="{% url 'borrarProducto' Producto.id %}"> Eliminar </a>
    <a class="btn btn-primary text-uppercase ms-2" href="{% url 'editarProducto' Producto.nombre %}">Modificar</a>
</ul>
{% endfor %}

{% else %}

<h1>no hay Resultado que coicidan con la busqueda</h1>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'Producto' %}">Regresar a Producto</a>
<a class="btn btn-primary text-uppercase ms-2" href="{% url 'Inicio' %}">Volver a Inicio</a>

{% endif %}

{% endblock %}